<f:if condition="{backendtitle}">
    <h3>{backendtitle}</h3>
</f:if>

<f:if condition="{tx_tt3tile_element}">
    <strong><f:translate key="LLL:EXT:tt3_tile/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3tile_element" />:</strong>
    <table class="table table-condensed table-triped">
        <thead>
        <tr>
            <th>#</th>
            <th>Backend Title</th>
            <th>Title</th>
            <th>Size</th>
            <th>Background</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{tx_tt3tile_element}" as="item" iteration="i">
            <tr class="{f:if(condition: '{item.hidden}', then: 'opacity-25')}">
                <td>{i.cycle}</td>
                <td>{item.element_backendtitle}</td>
                <td>{item.element_title}</td>
                <td>
                    <f:switch expression="{item.element_size.0}">
                        <f:case value="col-12">100%</f:case>
                        <f:case value="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">75%</f:case>
                        <f:case value="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">50%</f:case>
                        <f:case value="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">33%</f:case>
                        <f:case value="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3">25%</f:case>
                        <f:defaultCase>custom</f:defaultCase>
                    </f:switch>
                </td>
                <td>
                    <f:if condition="{item.element_bgimage}">
                        <f:then>Image</f:then>
                        <f:else>
                            Color: {item.element_bgcolor.0}
                        </f:else>
                    </f:if>
                </td>
                <td>
                    <f:if condition="{item.record_type.0} == 'linked-element'">
                        <f:then>linked element</f:then>
                        <f:else>default</f:else>
                    </f:if>
                </td>
                <td>{f:if(condition: '{item.hidden}', then: 'hidden')}</td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:if>